{
    "gameURL" : "wss://ep-live-mz-int1-sk1-gb1-game.goodgamestudios.com/",
    "gameServer" : "EmpireEx_19",
    "fontPath" : "",
    "privateKey" : "",
    "cert" : "",
    "firefoxProfile" : "",

    "noInternalWorker" : false,
    "discordToken" : "",
    "discordClientId" : "",
    "signupToken" : "EXAMPLE_TOKEN_VERY_LONG_DO_CHANGE",
    "internalWorkerName" : "",
    "internalWorkerPass" : "",
    "defaultAllianceName" : ""
}
