

.list-element {
    background-color: #2B2D31;
    border: 0;
    user-select: none;
    outline: none;
    border-radius: 0;
    float: right;
    border: #222427 solid 2px;
    padding-bottom: 2;
    color: white;
}

.list {
    display: grid;
    background-color: #2B2D31;
    list-style: none;
}

.list li {
    padding: 5;
    border: rgb(36, 35, 35) 1px solid;
}
